<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>User Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       <h1>Welcome user!</h1>
       





         <a href="profile.php">Profile</a>     <br>
            <a href="changepassword.php">Change Password</a>
            <br>
            <a href="viewprofile.php">View Profile</a>
            <br>
            <a href="viewusers.php">View Users</a>
            <br>
            <a href="editprofile.php">Edit Profile</a>
            <br>
            <a href="viewusers.php">View Users</a>
            <br>
            <a href="adduser.php">Add User</a>


         <a href="logout.php">Logout</a>

        
        <script src="" async defer></script>
    </body>
</html>
