{% extends "base.html" %}
{% block title %}
Home
{% endblock %}
{% block body %}
<div class="container my-3">
  <form action="/" method="POST">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Todo Title</label>
      <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp"/>
      <div id="text" class="form-text">Add the Title for Todo List.</div>
    </div>
    <div class="mb-3">
      <label for="text" class="form-label">Todo description</label>
      <input type="text" class="form-control" name="desc" id="exampleInputPassword1"/>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<div class="container my-3">
  {% if alltodo == [] %}
    <h2>No Todo Available</h2>
  {% else %}
    <h2>Todo List</h2>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Time</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <!-- Use Jinja template tags to render the dynamic data -->
      {% for todo in alltodo %}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td>{{ todo.title }}</td>
          <td>{{ todo.desc }}</td>
          <td>{{ todo.time }}</td>
          <td>
            <a href="/update/{{ todo.sno }}" type="button" class="btn btn-primary btn-sm mx-1">Edit</a>
            <a href="/delete/{{ todo.sno }}" type="button" class="btn btn-danger btn-sm mx-1">Delete</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}
</div>

   {% endblock body %}
```