{% extends "base.html" %}
{% block title %}
Update
{% endblock %}
{% block body %}

<h1>Update page</h1>
<div class="container my-3">
  <form action="/update/{{todo.sno}}" method="POST">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Todo Title</label>
      <input type="text" class="form-control" name="title" value=" {{todo.title}} " id="title" aria-describedby="emailHelp"/>
      <div id="text" class="form-text">Add the Title for Todo List.</div>
    </div>
    <div class="mb-3">
      <label for="text" class="form-label">Todo description</label>
      <input type="text" class="form-control" name="desc" value=" {{todo.desc}} " id="exampleInputPassword1"/>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
    
    {% endblock %}
    ```